        body {
            padding: 0;
            margin: 0;
            background: #EDEDED;
            font-family: 'Manrope', sans-serif;
        }

        .imageHeader {
            position: absolute;
            top: 0;
            right: -1px;
            height: 600px;
            width: 100%;
            object-fit: cover;
            z-index: -1;
        }

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: 'Anton', sans-serif;
            z-index: 10;
            color: #FFD15B;
            font-size: 44px;
            font-weight: 400;
            padding: 15% 25% 0 25%;
        }

        .search-wrapper {
            position: relative;
            width: 60%;
            margin: 0 auto;
        }

        .search-input {
            width: 100%;
            height: 70px;
            box-sizing: border-box;
            padding: 12px 20px 12px 40px;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
        }

        .search-input::placeholder {
            color: #ccc;
            font-size: 20px;
        }

        .search-icon {
            display: flex;
            padding-top: 15px;
            padding-left: 20px;
            position: absolute;
            right: 5px;
            top: 50%;
            height: 45px;
            width: 50px;
            transform: translateY(-50%);
            font-size: 30px;
            color: white;
            background: black;
            cursor: pointer;
            border-radius: 5px;
        }

        .search-icon:hover {
            background: #FFD15B;
            color: black;
        }

        .remove-icon {
            position: absolute;
            cursor: pointer;
            color: gray;
            right: 50px;
            top: 35%;
            height: 45px;
            width: 50px;
            font-size: 25px;
            font-weight: lighter;
        }

        .remove-icon-option {
            cursor: pointer;
        }

        .select-box {
            display: flex;
            justify-content: space-between;
            padding: 13% 40% 10% 5%;
            box-sizing: border-box;
            position: relative;
            width: 100%;
        }

        .search-box-ingredients,
        .search-box-Appareil,
        .search-box-ustensils {
            display: none;
            background: white;
            width: 200px;
            padding: 10px;
            box-sizing: border-box;
        }

        .active .search-box-ingredients,
        .active .search-box-Appareil,
        .active .search-box-ustensils {
            display: block;
        }

        .option-container {
            background-color: white;
            width: 200px;
            border-radius: 8px;
            overflow-y: scroll;
            order: 1;
            opacity: 0;
            max-height: 0;
            transition: all 0.4s;
        }

        /* Chrome, Safari, Edge, Opera */
        .option-container::-webkit-scrollbar {
            width: 0;
        }

        /* Firefox */
        .option-container {
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: transparent transparent;
        }

        .searchItem {
            margin-bottom: 10%;
        }

        .option,
        .selectedingredients,
        .selectedAppareil,
        .selectedustensils {
            padding: 5px 10px;
            cursor: pointer;
        }

        .radio {
            display: none;
        }

        .selectedingredients,
        .selectedAppareil,
        .selectedustensils {
            position: relative;
            padding: 10px;
            background: white;
            order: 0;
            border-radius: 10px;
            width: 200px;
            box-sizing: border-box;
        }

        .selectedingredients::after,
        .selectedAppareil::after,
        .selectedustensils::after {
            content: '\f106';
            font-family: 'Font Awesome 5 Free';
            font-weight: 700;
            position: absolute;
            right: 10px;
            color: black;
            transition: transform 0.1s;
        }

        .option-container.active {
            opacity: 1;
            max-height: 240px;
        }

        .active .selectedingredients,
        .active .selectedAppareil,
        .active .selectedustensils {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .selectedingredients::after,
        .selectedAppareil::after,
        .selectedustensils::after {
            transform: rotate(180deg);
        }

        .active .selectedingredients::after,
        .active .selectedAppareil::after,
        .active .selectedustensils::after {
            transform: rotate(0deg);
        }

        .select-box .option:hover {
            background: #FFD15B;
            border-radius: 5px;
            color: white;
        }

        .select-box input {
            width: 90%;
            height: 16px;
            padding: 10px;
            position: absolute;
            border: none;
            font-size: 16px;
            outline: none;
            border: solid 1px grey;
            border-radius: 5px;
        }

        .searchItem {
            position: relative;
            padding-bottom: 5%;
            background: white;
        }

        .style-search {
            position: relative;
            top: 10px;
            font-size: 16px;
            left: 160px;
            z-index: 5;
            color: gray;
        }

        .active {
            opacity: 1;
            max-height: 240px;
        }

        .option-container.active {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .cardPlat {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .recipe {
            background: white;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 360px;
            height: 700px;
            margin: 3%;
            
        }

        .recipe img {
            width: 100%;
            height: 30%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            object-fit: cover;
        }

        .recipe-time {
            position: relative;
            top: -27%;
            left: 77%;
            font-size: 1rem;
            color: #666;
            padding: 2% 4% 3% 3%;
            border-radius: 30px;
            background-color: #FFD15B;
            padding-left: 1rem;
        }

        .recipe h2 {
            font-size: 1.5rem;
            margin: 0.5rem 0;
            padding-left: 1rem;
            font-family: 'Anton', sans-serif;
            font-weight: 400;
            font-size: 18px;
        }

        .recipe h3 {
            font-size: 1.2rem;
            margin: 0.5rem 0;
            color: #7A7A7A;
            font-weight: 700;
            font-size: 14px;
            padding-left: 1rem;
        }

        .recipe p {
            display: flex;
            font-size: 1rem;
            color: #333;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: justify;
            height: 10%;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        .recipe ul {
            list-style-type: none;
            padding-left: 1rem;
        }

        .recipe li {
            font-size: 1rem;
            color: #333;
            padding-left: 1rem;
        }

        .cardIngredient {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        span.ingredientName {
            padding: 0%;
            margin: 0%;
            display: flex;
            font-weight: 500;
            background-color: white;
            color: #1B1B1B;
            font-size: 14px;
            font-family: 'Manrope', sans-serif;
        }

        .quantityText {
            background-color: white;
            color: #7A7A7A;
            font-weight: 400;
            font-size: 14px;
            font-family: 'Manrope', sans-serif;
        }

        .selected-option-display {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            margin-top: 2rem;
            margin-bottom: 5%;
            width: 150px;
            border-radius: 10px;
            color: #000000;
            font-size: 20px;
        }

        .selected-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #FFD15B;
            padding: 5px 10px;
            border-radius: 5px;
            color: #000;
            font-size: 16px;
            position: relative;
        }

        .selected-text {
            flex: 1;
            padding: 0 10px;
        }

        .close-icon {
            position: absolute;
            right: 10px;
            color: black;
            cursor: pointer;
        }

        .counter {
            position: absolute;
            top: 45%;
            right: 5%;
            font-size: 21px;
            font-weight: 400;
            font-family: 'Anton';
        }